# RabbitMQ Configuration
RABBITMQ_USER=rabbitmq_user
RABBITMQ_PASSWORD=rabbitmq_password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Database Service Configuration
SPRING_DATASOURCE_URL=jdbc:h2:file:./data/mulligan;MODE=MySQL;AUTO_SERVER=TRUE
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=

# UI Configuration
MULLIGAN_DATABASE_BASE_URL=http://localhost:8080
